@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    background: #000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
main {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 2.56fr 1.6fr 1fr ;
    grid-template-rows: 2.56fr 1.6fr 1fr 4.096fr;
}
div, nav {
    display: flex;
    border: 1px solid red;
    align-items: center;
    justify-content: center;
}
span {
    display: inline;
}
.name {
    padding: 20px 10px;
}
.contact{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
.empty {
    order: -1; 
    grid-row: 1;
    grid-column: 1 / span 3;
}
:any-link{
    color:#ffa500;
}
.tag:hover {
    font-size: 1.5em;
    color:#af06af;
}


@media screen and (max-width: 600px) { 
    main {
        grid-template-columns: auto;
        grid-template-rows: 1fr 2.56fr 1.6fr 1fr 4.096fr;
    }
    .empty {
        grid-column: 1;
    }
    .contact{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }
}