@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    background: #000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
main {
    padding: 50px;
    display: grid;
    grid-template-columns: 2.16fr 1.6fr 1fr;
    grid-template-rows: 1.6fr 1fr;
    min-height: calc();
}
div {
    display: flex;
    /*border: 1px solid red;*/
    align-items: center;
    justify-content: center;
}
.contact{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
.linkedin, .email {
    color: #008000; 
}
.empty {
    order: -1; 
    grid-row: 1;
    grid-column: 1 / span 3;
}

:any-link{
    color:#ffa500;
}
.tag-1:hover, .tag-2:hover, .tag-3:hover {
    font-size: 2em;
}


@media screen and (max-width: 600px) { 
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1.6^3fr 1.6^2fr 1.6fr 1fr;
    }
    .empty {
        grid-column: 1;
    }
    .contact{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }
}